# Ceci est le fichier de configuration personnel de Git.
[user]
# Veuillez adapter et décommenter les lignes suivantes :
	name = wells
	email = wells@novius.fr
[core]
	filemode = false
	excludesfile = /home/lyon/wells/.gitignore
    editor = vim
[push]
	default = simple
